* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Slab", serif;
}
html {
	background-color: rgb(218, 229, 252);
}
.App {
	text-align: center;
	height: 100vh;
}
header {
	background-color: rgb(101, 116, 171);
	height: 7rem;
}
header a {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
header a img {
	margin: 1em;
}
header a img:nth-of-type(1) {
	margin-top: 1.5em;
	width: 10em;
}
header a img:nth-of-type(2) {
	width: 3.3em;
}
#content-container {
	min-height: calc(100% - 6rem);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 1em;
	gap: 2em;
}
#story-prompt-container {
	width: 45rem;
}
.story-container,
#prompt-form,
#story-prompt-container {
	text-align: left;
	display: flex;
	gap: 0.5em;
}
.story-container,
#story-prompt-container {
	flex-direction: column;
}
#content-right {
	width: 55rem;
}
.story-container {
	min-height: 50em;
}
#prompt-form {
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	column-gap: 2em;
}
#prompt-top {
	display: flex;
	justify-content: space-evenly;
	padding: 1em;
}
#prompt-form label,
#prompt-form input {
	width: 15em;
}
input {
	height: 1.2em;
	border: none;
	padding: 0.8em 0.5em;
}
input:focus {
	outline: none;
}
#generateButton {
	background-image: url("../public/generateButton.png");
}
#clearButton {
	background-image: url("../public/clearButton.png");
}
#generateButton,
#clearButton {
	width: 10em;
	background-size: 10em;
	background-size: 10em;
	background-repeat: no-repeat;
	height: 5.3em;
	background-position: -0.1em;
}
#prompt-top button {
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
	rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
	rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
button {
	border: none;
	background-color: transparent;
	width: 9.77em;
	padding: 0;
	cursor: pointer;
	border-radius: 1.1em 1.3em;
	transition: 0.2s ease-in-out;
}
button:hover {
	transform: scale(1.05);
}
#content-right button {
	border-radius: 0;
	padding: 0;
	background-color: transparent;
	border-bottom: 0.5em solid rgb(73, 73, 73);
	box-shadow: rgb(73, 73, 73, 0.45) 0px 25px 20px -20px;
	width: 100%;
	margin-bottom: 1.5em;
}
#content-right button img {
	width: 5em;
	height: 5em;
}
