* {
	margin: 0 auto;
	box-sizing: border-box;
}
.App {
	text-align: center;
  height: 100vh;
}
header {
	background-color: darkslategrey;
	height: 5rem;
}
header a img {
	width: 2rem;
}
#content-container {
  background-color: rgb(218, 229, 252);
  min-height: calc(100% - 5rem);
}
